<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }">
  <h2>{{ faceSnap.title | uppercase}}</h2>
  <a routerLink="/facesnaps">Retour</a>
  <p>{{ faceSnap.description }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>Mise en ligne : {{ faceSnap.createdDate | date:'le d MMMM yyyy'}}</p>
  <p *ngIf="faceSnap.location">prise à : {{ faceSnap.location }}</p>
  <p>
    <button (click)='onSnap()'>{{ buttonText }}</button>
    <span [ngStyle]="{color: 'rgb(0,'  + faceSnap.snaps + ',0)'}">{{ faceSnap.snaps }}</span>
  </p>
</div>
