<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops UnSnap' }">
  <!-- <span>{{ 0.477 | percent }}</span>
  <p>Nombre:  {{  4346234.36 | number:'8.0-1' }}</p>
  <p>Pourcentage: {{  0.336 | percent:'1.2-2' }}</p>
  <p>Epargne: {{ 798000 | currency:'XAF' :'code' }}</p> -->
  <h2>{{ faceSnap.title | uppercase}}</h2>
  <a routerLink="/facesnaps">Retour</a>
  <p>{{ faceSnap.description }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>Mise en ligne : {{ faceSnap.createdDate | date:'le d MMMM yyyy'}}</p>
  <p *ngIf="faceSnap.location">prise à : {{ faceSnap.location }}</p>
  <p>
    <button (click)='onSnap()'>{{ buttonText }}</button>
    <span [ngStyle]="{color: 'rgb(0,'  + faceSnap.snaps + ',0)'}">{{ faceSnap.snaps }}</span>
  </p>
</div>
