<div class="landing-block">
  <img src="assets/images/homedeve.png" alt="Snapface logo" width="50%">
  <div class="landing-links">
    <button (click)="onContinue()">Continuer vers Snapface</button>
  </div>
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
    <input id="emailInput" name="userEmail" type="email" [(ngModel)]="userEmail">
    <input id="nameInput" name="username" type="text" [(ngModel)]="userName">
    <button type="submit">OK!</button>
</form>
</div>
